html {

    padding: 10px;
    align-content: center;
}

body {

    margin: auto;
    max-width: 1920px;
}

/*flexbox*/
.parent {
    background-color: #07728c ;
    height: 300px;
    max-width: 1920px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.Nav
{
    background-color: #07728c ;
    padding: 30px;
    max-width: 1920px;
    display: flex;
    flex-flow: row ; /*flex-direction flex-wrap*/
    justify-content: center;
    font-size: 25px;
    font-family: Roboto;
    
}
.Men {

    margin-right: 100px;
    text-decoration: none;
    color: black;
}

.Wommen{

    margin-right: 100px;
    text-decoration: none;
    color: black;
}

.Menu{
    text-decoration: none;
    color: black;

}

.Boots{
    margin-left: 100px;
    text-decoration: none;
    color: black;
}

.Sale{

    margin-left: 100px;
    text-decoration: none;
    color: black;
}
.logo {

    margin-left: auto;
    position: absolute;
}

.profilicon {
    margin-left: auto;
    justify-content: flex-end;
    margin-right: 0;
}

.kasseicon {
    margin-left: 50px;
    justify-content: flex-end;
}

.salphoto {
background-image: url("../Image/hedderbilde.jpg");
background-size: contain;
background-repeat: no-repeat;

min-height: 70vh;
position: relative;
}


.salphoto-content {

    font-size: 350px;
    color: white;
    position: absolute;
    text-align: center;
    top: -250px;
    left: 910px;
    font-family: 'Arima Madurai', cursive;
    margin: 0em;
}


.parent01 {
    max-width: 1920px;
    display: flex;
    flex-flow: row ; /*flex-direction flex-wrap*/
    justify-content: space-between;

}

.Hiking-gere {
    margin-left: auto;
    justify-content: flex-end;
    margin-right: 20px;
}

.Hiking-boots {
margin-right: auto;
justify-content: flex-start;
margin-left: 20px;
}



.parent02 {
   
   
    max-width: 1920px;
    display: flex;
    flex-flow: row ; /*flex-direction flex-wrap*/
    margin-left: 20px;
    margin-top: 10px;
}

.material {

    position: relative;
}

.mail {
background-color: #8F4F14;
margin-left: 10px;
width: -webkit-fill-available;
margin-right: 20px;
margin-bottom: 2px;
font-family: 'Roboto light';
    font-size: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.email{
    position: absolute;
    top: 2100px;
    left: 1060px;
}

.cta {
    position: absolute;
    top: 2213px;
    left: 1350px;
    outline-style: solid;
    outline-width: medium;
    outline-color: #54838F;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
}

.texsta {
    text-decoration: none;
    color: black;
}

h2{

position: absolute;
color: white;
left: 1350px;
top:1900px;


}
.Newsphoto{

background-image: url("../Image/newsbackground.png");
background-size: 1920px;
background-repeat: no-repeat;
min-height: 70vh;
position: relative;
margin-top: 10px;
}

.News-content {
    font-size: 330px;
    color: white;
    position: absolute;
    text-align: center;
    top: -100px;
    left: 450px;
    font-family: 'Arima Madurai', cursive;
}  



.parent03 {
    margin: 10px;
    padding: 30px;
    height: 395px;
    max-width: 1920px;
    display: flex;
    flex-flow: row ; /*flex-direction flex-wrap*/
    justify-content: space-between;
    margin-top: 200px;

}



.thefooter {
    display: flex;
    flex-flow: row ; /*flex-direction flex-wrap*/
    justify-content: center;
    margin-bottom: 20px;
}

.info {
    max-width: 1920px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 30px;
}

p {
align-content: center;
}

.Telephon{
    margin-left: 20px;
}

.facbook{
    margin-left: 20px;
}

.person{
    margin-left: 20px;
}
