html {

    padding: 10px;
    align-content: center;
}

    body {
        margin: auto;
        max-width: 1920px;
        font-family: 'Roboto', sans-serif;
    }

/*the nav and hedding*/
.parent {
    background-color: #07728c ;
    height: 200px;
    max-width: 1920px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.logo {

    margin-left: auto;
    position: absolute;
}

.logo img {

    width: 300px;
    height: auto;
}

.profilicon {
    margin-left: auto;
    justify-content: flex-end;
    margin-right: 0;
}

.profilicon img {
    width: 40px;
    height: auto;
}

.kasseicon img {
    width: 40px;
    height: auto;
}
.kasseicon {
    margin-left: 50px;
    justify-content: flex-end;
}

.srcbox{
    display: flex;
    justify-content: center;
    background-color: #07728c ;
}
.srcbox textarea {
    width: 500px;
    height: 40px;
    background-image: url("../Image/glass.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; }

    header {
        background-color: #07728c;
    }
    a {
        text-decoration: none;
      }
      
      nav {
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: center;
      }
      
      ul {
        background: #07728c;
        list-style: none;
        margin: 0;
        padding-left: 0;
        font-size: 25px;;
        width:1920px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        z-index: 1000;
      }
      
      li {
        color: #fff;
        background: #07728c;
        display: block;
        float: left;
        padding: 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
      }
        
      li a {
        color: black;
      }
      li:hover,
      li:focus-within {
       background:#07728c;
       cursor: pointer;
         }

      li:focus-within a {
      outline: none;
         }
      
      ul li ul {
        background:#07728c;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
      }
      
      ul li:hover > ul,
      ul li:focus-within > ul,
      ul li ul:hover,
      ul li ul:focus {
         visibility: visible;
         opacity: 1;
         display: block;
      }
      
      ul li ul li {
        clear: both;
        width: 150px;
      }

      .dropdown {

        width: 20px;
      }

/*the footer*/

.over-the-footer {
    width: 1500px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.info-company, a {

 color: black;
}

.info-company {

    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    
}

.instagram img, .telephon img, .facbook img, .profill img {

    height: 40px;
    width: auto;
}

.faq, .return, .shipping-footer, .about, .help {

    padding-bottom: 20px;
}

.sosial-media-icon, img {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

}

/*index.html*/

  .sale-hedding{

    background-image: url("../Image/hedderbilde-sale.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
  }

  .sale-texst {
  position: absolute;
  color: white;
  top: 50%;
  left: 65%;
  transform: translate( -50%, -50% );
  font-size: 20rem;
  font-family: 'Arima Madurai', sans-serif;
  font-weight:bold;
}

.tre-categorys {

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.tre-categorys img{

    padding-left: 10px;
    padding-right: 10px;
}





/*shipping.html*/

.mail-photo {
    background-image: url("../Image/headding-shipping-short.jpg");
    background-size: cover;
    min-height: 70vh;
    background-repeat: no-repeat;
}

.shipping, .eco-friendly, .top-hedding {
    display: flex;
    font-size: 30px;
}

.shipping, .eco-friendly, .top-hedding, h1, h2 {
    justify-content: center;
    color: #0A3641;
    font-weight: lighter;
    margin-bottom: 0px;
}

hr {
    background-color: #8F4F14;
    height: 1px;
    border: none;
    width: 600px;
}

.mail-driver-photo, .return-icon, .eco-icon, .icon-photo {
 display: flex;
}

.mail-driver-photo, .return-icon, .eco-icon, .icon-photo, img {
    justify-content: center;
}

.mail-driver-photo img, .return-icon img, .eco-icon img, .icon-photo img {
    width: 200px;
    height: auto;
    margin-top: 60px;
}


.iconinfo, p {
    color: #8F4F14;
    font-size: 15px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.free h2{
    color: #8F4F14;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}

.min-hedding, h2 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    color:#0A3641;
    font-weight: lighter;
    font-size: 30px;
    width: auto;
    padding-top: 25px;
}

.rainforist, .rainprof {
    padding-bottom: 150px;
}

.hedding-eco {
background-image: url("../Image/eco-friendly-hedding.jpg");
background-size: cover;
    min-height: 70vh;
    background-repeat: no-repeat;}

    /*material.html*/

    .material-hedding {

        background-image: url("../Image/material-hedding01.jpg");
        background-size: cover;
        min-height: 70vh;
        background-repeat: no-repeat;
        position: relative;
    } 

    .matarial-texst {
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
        font-size: 15rem;
        font-family: 'Arima Madurai', sans-serif;
        font-weight:bold;
    }

/*the mobil view*/
@media only screen and (max-width: 600px){

    .profilicon img, .kasseicon img {

        width: 20px;
        height: auto;
    }

    .kasseicon {
        margin-right: 0px;
    }

    .profilicon {
        margin-right: -70px;
    }

    .srcbox textarea {

        width: 250px;
        height: 20px;
    }

    .parent {
        height: 130px;
    }


    hr {
        width: 300px;
    }

    .iconinfo, p {

        font-size: 12px;
        width: 300px;
    }

     }

@media only screen and (max-width: 700px) {
    body {
      background-color: lightblue;
    }

    .salphoto {
        background-size: contain;
    }

    .categorys {
        flex-flow: column;
        justify-content: center;
    }

    .navbarstyling li {
    
        margin: 5px;
        font-size: 15px;
    }

    ul .dropdown {
        width: 200px;
    }

    .logo img {

        width: 150px;
        height: auto;
    }

    .mail-photo, .hedding-eco, .material-hedding{
        min-height: 30vh;
    }

    .shipping, h1 {

        font-size: 25px;
    }

    .tre-categorys img {

        height: 270px;
        width: auto;
    }


    .mail-driver-photo img, .return-icon img{
        width: 200px;
    }


    .sale-hedding {
        min-height: 40vh;
    }

    }

       @media only screen and (max-width: 1499px){
           .sale-texst {
               font-size: 11rem; 
               left: 50%;
           }
           .over-the-footer {
            width: 300px; }
            
            .matarial-texst {
            font-size: 4rem;}
        
        }